
@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Regular'), url('/css/fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro Bold';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Bold'), url('/css/fonts/MYRIADPRO-BOLD.woff') format('woff');
}

@charset "UTF-8";img,canvas,iframe,video,svg{max-width:100%}.overflow-container{overflow-y:scroll;-webkit-overflow-scrolling:touch}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */

html {
overflow: -moz-scrollbars-vertical; 
overflow-y: scroll;
}

body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */


header nav {
    padding: 0.5em;
    text-align: center;
    font-family: Myriad Pro Regular, Sans;
    text-transform: uppercase;
}
header nav.pure-menu.pure-menu-open {
    background-color: #656D78;
}
header nav.pure-menu-open.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

header nav.pure-menu .pure-menu-heading {
    color: white;
    font-family: Myriad Pro Regular;
    font-weight: 400;
    font-size: 1.3rem;
}

header nav.pure-menu .pure-menu-selected {
    color: #AAB2BD;
}

header nav.pure-menu a {
    color: #F5F7FA;

}
header nav.pure-menu li a:hover,
header nav.pure-menu li a:focus {
    background: none;
}

header nav a:hover,
header nav a:focus {
    color: #CCD1D9;
}

/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    /*position:fixed;*/
    /*display:inline;*/
    background: #ECE8F7;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
    font-family: Myriad Pro Regular, Sans;
}

.background2014-11 {
    background-image: url('/img/splash/2014_11.jpg');
}

.splash {
    /* absolute center .splash within .splash-container */
    height: 50%;
    margin: auto;
    position: absolute;
    top: auto; left: 0; bottom: 0; right: 0;
    text-align: center;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-weight: normal;
    border-radius: 5px;
    line-height: 2em;
    text-transform: uppercase;
    color: black;
    background:white;
    opacity: 0.85;
    margin: 0;
    display: inline-block;
    padding: 0 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    letter-spacing: 0.05em;
    opacity: 0.85;
    border-radius: 5px;
    padding: 0.5em 1em;
    background:white;
}

/* This is the class used for the footer */
footer {
    position: relative;
    bottom: 0;
    padding:1em;
    z-index: 3;
    text-align:right;
    width:100%;
    background: #111;
    font-family: Myriad Pro Regular, Sans;
}

footer nav.language.pure-menu.pure-menu-open {
    background-color: #CCD1D9;
    font-size: 0.75rem;
}

nav.language.pure-menu .pure-menu-heading {
    text-transform: capitalize;
    font-size: 0.75rem;

}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }
    /* We want to give the content area some more padding */
    .content {
        padding: 1em;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    header nav {
        text-align: left;
    }
        header nav ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 2rem;
    }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 2.5rem;
    }
}
