---
title: Start
locale: de
---

<!doctype html>
<html lang="{{ page.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">

    <title>SCHWERATHLET &ndash; {{ page.title }}</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/screen.css">
</head>
<body>

<header>
    <nav>
        {% assign header = site.locales[page.locale].header %}
        <ul>
            {% for link in header.navigation %}
              {% capture url %}/{{ page.locale }}/{{ link[1].file }}.html{% endcapture %}
              {% capture style %}{% if forloop.first %}home{% endif %} {% if page.url == url %}selected{% endif %}{% endcapture %}
              <li class="{{ style | strip }}"><a href="{{ url }}">{{ link[1].text }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>

<div id="splash">
    <div class="background2014-11">
        <div>
            <h1>{{ site.locales[page.locale].start.header }}</h1>
            <p>{{ site.locales[page.locale].start.message }}</p>
        </div>
    </div>
</div>

<footer>
    {% assign footer = site.locales[page.locale].footer %}
    <nav id="language">
        
        <ul>
        <li>{{ footer.language.text }}</li>
            {% for locale in footer.language.locales %}

            {% if page.locale == locale.locale %}
            <li class="pure-menu-selected"><a href="{{ page.url }}">{{ locale.text }}</a></li>
            {% else %}
                {% if page.locales contains locale.locale %}
                {% assign file = page.locales %}
                {% capture url %}/{{ locale.locale }}/{{ page.locales[locale.locale] }}.html{% endcapture %}
                <li><a href="{{ url }}">{{ locale.text }}</a></li>
                {% else %}
                <li class="pure-menu-disabled"><a>{{ locale.text }}</a></li>
                {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <a title="Web Analytics" href="http://clicky.com/100717280">Web Analytics</a>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(100717280); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100717280ns.gif" /></p></noscript>
</footer>

</body>
</html>
